* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #4d77cc;
    text-decoration: none;
}

a:hover {
    color: #4f7fe2;
}

html {
    height: 100%;
    background-color: #303030;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

body {
    height: 100%;
    min-width: 700px;
    overflow-y: hidden;
}

#app-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    color: #fff;
    background-color: #36393e;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1000;
    transition: background-color 0.5s ease-out, text-shadow 0.5s ease-out;
}

body.header-transparent #app-header {
    background-color: transparent;
    box-shadow: none;
}

body.header-transparent #app-header>* {
    text-shadow: 0px 0px 3px #000;
}

#app-header>.header-button {
    display: block;
    height: 100%;
    width: 56px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
}

#app-header>.title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-left: 16px;
}

#app-header>.splitter {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

#app-header>.actions .action {
    display: inline-block;
    padding: 16px;
    height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
    transition: color 0.2s ease-in-out;
}

#app-header>.actions .action:hover {
    color: #fff;
}


#app {
    position: relative;
    height: 100%;
    padding-top: 56px;
}

#app>* {
    position: absolute;
    top: 56px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}

#app>.has-background {
    top: 0;
}

#app>*:not(.show) {
    opacity: 0;
    pointer-events: none;
    animation: fade-out 0.5s ease-out;
}

#app>*>.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    animation: fade-in 0.5s ease-out;
    z-index: -1;
}

#app>* section {
    margin: 24px auto;
    background-color: #424242;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

@media(max-width: 1024px) {
    #app>* section {
        border-radius: 0;
    }
}


.quote {
    animation: float-in 0.5s ease-out;
}

.quote>.info {
    display: block;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    color: inherit;
}

.quote>.info>.title {
    font-size: 24px;
    font-weight: 400;
}

.quote>.info>.details {
    margin-top: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.54);
}

.quote .message {
    display: flex;
    padding: 12px 16px;
}

.quote .message>.message-content {
    flex-grow: 1;
}

.quote>.messages>.message:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.quote .message .avatar {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 20px;
    background-size: 40px 40px;
}

.quote .message .header {
    margin-bottom: 2px;
}

.quote .message .header .username {
    color: #fff;
    font-weight: 600;
}

.quote .message .header .timestamp {
    margin-left: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, .2);
}

.quote .message .text {
    color: rgba(255, 255, 255, .7);
}

.quote .message .text:not(:last-child) {
    margin-top: 2px;
}


#lost {
    position: absolute;
    min-height: 500px;
    overflow: hidden;
}

#lost>.text {
    margin: 200px auto 0px;
    width: 500px;
}

#lost>.text>.title {
    font-size: 45px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.54);
}

#lost>.text>.subtitle {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
}


#quote-list>.container, #quote-view>.container, #about>.container {
    margin: 16px auto;
    width: 100%;
    max-width: 1024px;
}

#quote-list>.container {
    animation: slide-in-left 0.5s ease-out;
}

#quote-list:not(.show)>.container {
    animation: slide-out-left 0.5s ease-out;
}

#quote-view>.container, #about>.container {
    animation: slide-in-right 0.5s ease-out;
}

#quote-view:not(.show)>.container, #about:not(.show)>.container {
    animation: slide-out-right 0.5s ease-out;
}


@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes float-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-out-left {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@keyframes slide-out-right {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(20px);
    }
}



.has-ripple-effect {
    position: relative;
}

.has-ripple-effect>.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.has-ripple-effect>.ripple-container:not(.hold) {
    animation: ripple-container 1s linear;
    animation-iteration-count: 1;
}

.has-ripple-effect>.ripple-container>.ripple {
    display: block;
    position: absolute;
    height: 1000px;
    width: 1000px;
    border-radius: 500px;
    background-color: transparent;
    animation: ripple 0.8s ease-out;
    animation-iteration-count: 1;
}

@keyframes ripple {
    from {
        background-color: rgba(0, 0, 0, 0.4);
        transform: scale(0.005);
    }

    to {
        background-color: transparent;
        transform: scale(1);
    }
}

@keyframes ripple-container {
    from {
        background-color: transparent;
    }

    5% {
        background-color: rgba(0, 0, 0, 0.1);
    }

    to {
        background-color: transparent;
    }
}
